
@{
    ViewBag.Title = "Add new User";
}

<h2>Add</h2>

<div>
    <h3>Form add new user</h3>
    <form method="post">
        <table>
            <tr>
                <td><p>intrpduce user's Name </p></td>
                <td><input type="text" name="Name"/> </td>
            </tr>
            <tr>
                <td><p>introduce user's Age </p></td>
                <td><input type="number" name="Age"/> </td>
            </tr>
            <tr><td><input type="submit" value="OK" /> </td></tr>
        </table>
    </form>
</div>

