
@{
    ViewBag.Title = "Del";
}

<h2>Del</h2>

<div>
    <h3>Form delete user</h3>
    <form method="post">
        <table>
            <tr>
                <td><p>intrpduce user's Id </p></td>
                <td><input type="number" name="Id" /> </td>
            </tr>
            <tr><td><input type="submit" value="OK" /> </td></tr>
        </table>
    </form>
</div>